<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>test</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css">
	<script>var nat_url = "{$nat_url}"</script>
</head>
<body>
	<header>
		<p>庆国庆 升国旗</p>
	</header>
	<section id="mid">
		<div class="bcc">
			<div class="notice">
				<h1>让梦想与国旗迎风飘扬吧！</h1>
				<p><span>主办方：</span>重邮团委  红岩网校工作站</p>
				<p><span>活动规则：</span>连续点击“我要升旗”按钮，用时越少排名越前，快来升旗吧~ </p>
				<p><span>微信平台：</span>重邮小帮手（cyxbswx）</p>
				<img src="__PUBLIC__/img/pigeon.png">
			</div>
			<div class="bubble">
				<div>
					<p>你是</p><p>第<span class="name" id="num">96</span>个参与者</p><p>用时<span class="time" id="yourTime">09</span>秒</p><p>排<span id="rank">23</span>名 </p>
				</div>
			</div>
			<div class="flag">
				<img src="__PUBLIC__/img/flag.png">
			</div>
			<div class="click">
				<p>我要升旗</p>
			</div>
		</div>
	</section>
	<section id="comment">
		
		<div id="send_m">
			祝福言语
		</div>
	</section>
	<section id="content">
		

		<div class="content">
			<div class="none">
				<p class="word">献上国庆的祝福</p>
			</div>
		</div>
	</section>
	<div id="up" style='z-index: 1000;'>&#x343d;</div>
	<script type="text/javascript" src="__PUBLIC__/js/jQueryv1.7.2.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/index.js"></script>
	
	<!-- 多说最新评论 start -->
	<div class="ds-thread" data-thread-key="请将此处替换成文章在你的站点中的ID" data-title="爱国小能手" data-url="{$show_natday}"></div>
<!-- 多说最新评论 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"orangekiller"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- 多说公共JS代码 end -->

</body>
</html>